body {
    display: flex;
    background-color: blanchedalmond;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-family: sans-serif;
    font-weight: bolder;
}

input {
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}

#form {
    width: 100%;
}

button {
    background-color: transparent;
    color: brown;
    border: none;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
    background-color: brown;
    color: blanchedalmond;
    width: fit-content;
    border-radius: 5px;
}